.display {
  width: 100%;
  margin-top: 0.5rem;
  height: 15%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.3rem;
}

.display p {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
