.drum-pad {
  border: none;
  padding: 1rem;
  background: rgba(190, 215, 252, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  transition: background 0.2s;
}

.drum-pad:hover {
  background: rgb(190, 215, 252);
}
