:root {
  font-size: 16px;
}

body,
main,
div,
section,
footer {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(174, 233, 238);
  background: radial-gradient(
    circle,
    rgba(174, 233, 238, 1) 0%,
    rgba(148, 207, 233, 1) 100%
  );
}
